<IfModule mod_rewrite.c>
RewriteEngine On

# Rewrite URLs to serve HTML files without .html extension
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Rewrite URLs to serve PHP files without .php extension
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]
</IfModule>

